<div class="mt-4">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="search" class="sr-only">Search</label>
            <input type="text" class="form-control" name="" id="search" placeholder="Search...">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
</div>